button, svg text, span, label, h1, h2, h3, h4, p { user-select: none; }

body, html {
  background-color: rgb(130, 133, 136);
}

.live-area {
  display: grid;
  grid-gap: 2px;
  margin: 1em;
}

.cell {
  background: rgb(192, 185, 185);
  &[data-cell="1"] {
    background: black;
  };
  color: white;
  font-size: .8em;
  display: grid;
  place-items: center;
  user-select: none;

  &[data-focus="true"] {
    background-color: red;
  }
}


